<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Base Page{% endblock %}</title>
</head>
<body>
	<main>
    	{% block content %}
    	{% endblock %}
  	</main>
</body>
</html>